@page
@model WebApp.Pages.Custom

@if (!string.IsNullOrWhiteSpace(Model.Error))
{
<div class="danger-message" role="alert">
    @Model.Error
</div>
}

<h1>Custom Game</h1>

<!DOCTYPE html>


<form method="post">
    <label for="ConfName">Config name: </label>
    <input type="text" id="ConfName" name="ConfName" required />
    <br />
    
    <label for="BoardSize">Board size: </label>
    <input type="text" id="BoardSize" name="BoardSize" required/>
    <br/>

    <label for="GridSize">Grid Size: </label>
    <input type="text" id="GridSize" name="GridSize" required/>
    <br/>

    <label for="PiecesAmount">Amount of Pieces: </label>
    <input type="text" id="PiecesAmount" name="PiecesAmount" required/>
    <br/>

    <label for="PiecesToWin">Amount of Pieces to Win: </label>
    <input type="text" id="PiecesToWin" name="PiecesToWin" required/>
    <br/>
    
    <button type="submit">Submit</button>
</form>
