@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">TIC-TAC-TWO</h1>
</div>


@if (!string.IsNullOrWhiteSpace(Model.Error))
{
<div class="alert alert-danger" role="alert">
    @Model.Error
</div>
}

<div class="row justify-content-center mt-4">
    <div class="col-md-6 text-center">
        <div class="btn-group-vertical" role="group" style="width: 100%;">
            <a asp-page="/NewGame" class="btn btn-info btn-lg mb-2">New Game</a>
            <a asp-page="/Load" class="btn btn-info btn-lg mb-2">Load Game</a>
            <a asp-page="/ChooseConfig" class="btn btn-info btn-lg mb-2">Configurations</a>
            <a asp-page="/Home" class="btn btn-success btn-lg">Connect to Existing Game</a>
        </div>
    </div>
</div>
